<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sourcePath1" value="C:\Users\fastella\Desktop\cartella1"/>
    <add key="destinationPath1" value="C:\Users\fastella\Desktop\cartella2"/>
    <add key="sourcePath2" value="C:\Users\fastella\Desktop\cartella3"/>
    <add key="destinationPath2" value="C:\Users\fastella\Desktop\cartella4"/>
    <add key="serviceBusConnectionString" value="Endpoint=sb://servicebusqu.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=oGyl4NRX/0+u16SBaaHJBMMSrQXL0lwIi34I1xXZRhE="/>
    <add key="queueName" value="firstqueue"/>
  </appSettings>
</configuration>